* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}
/* Navbar Styles */
.navbar {
    /*background-color: green;*/
    color: white;
    padding: 10px 0;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content:space-between; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo{
    color: #333;
    text-decoration: none;
    padding: 10px 15px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
}

.button {
    background-color: #333;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
}

.search-bar {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.hero {
    position: relative;
    width: 100%;
    background-position: center;
    height: 300px;

}

/*.link {
    width: 100%;
    height: 30                                                                  px;
      padding-top: 1%;
    
    
    
}*/

/*.link a {
    text-decoration: none;
    font: 15px;
    font-family: 'Courier New', Courier, monospace;
  
}*/
.hero img {
    width: 100%;
    border-radius: 10px;
    height: 50%;
}

.title{
    position: absolute;
    top: 40%;
    left: 100%;
    color: white;
    font-size: 48px;
    text-align: center;
    margin-left: -70%;
    margin-top: -100px;
}

.search-bar button{
    margin-top: 20px;
    display: flex;
    text-align: right;
    gap: 10px;
    color: black;
    top: 40%;
    left: 68%;
    position: absolute;
    margin-top: -40px;
    justify-content: right;
    padding: 8px;
}
    

.search-bar input{
    position: absolute;
    top: 40%;
    left: 30%;
    padding: 10px;
    width: 500px;
    border-radius: 5px;
    border: none;
    margin-top: -40px;
    margin-left: -60px;
}

/* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/



.box{
    border: black solid 1px;
    border-radius: 3px;
    list-style-type: none;
    width: 65%;
    justify-content: center;
    border-radius: 20px;
    margin-left: 15%;

}
.box-btn{
    height: 50px;
    display: flex;
    justify-content: space-around;
    width: 50%;
    /*margin-left: 20%;*/
    
}

#heading{
    font-size: small;
 height: 50px;
    width: 100%;
    text-align: center;
}

.button{
    /*background-color: blue;*/
    border: 1px solid black;
   /* padding: 10px;*/
    border-radius: 15px;
    width: 50%;
    height: 35px;
    /* display: flex;
    gap: 20px; */
    text-align: center;
    margin-top: -20px;
    margin-left: 2%;
}

.lnk{
   /* background-color: brown; */
    width: 70%;
    height: 70%;
    display: flex;
    margin-left: 17%;
    margin-top: -2%;
    

}
.lnk a{
    text-decoration: none;
    font: 15px;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
}

.categories{
    margin-top: -20px;
}

.UP-EVT {
    margin-top: -60px;
}

.upcomiming  {
    margin-top: -15px;
    text-align: left;
}

.up-img {
    justify-content: center;
    margin-right: 100px;
}

.second h2{
    font-size: 24px;
    margin-left: 100%;
;
}
.box1{
    width: 30%;
    /* text-align: left; */
    margin-top: 10%;
    height: 200px;
    

}
.box2{
   width: 30%;
    /* text-align: center; */
    margin-top: 10%;

}

.box3{
    width: 30%;
    /* text-align: right;  */
    margin-top: 10%;
}

/*upcoming events section*/
.mainBox{
    display: flex;
    width: 100%;
    /*background-color: tomato;*/
    height: 400px;
    justify-content: space-around;
    

}

.box-txt{
    /*background-color: brown;*/
    width: 33%;
    height: 400px;
    

}

.box-img {
    width: 100%;
    height: 200px;
    /*background-color: green;*/

}

.txt {
     width: 100%;
    height: 200px;
   /* background-color: black;*/
}
.head{
     font-weight: bold;
    font-size: 25px;
    width: 100%;
    height: 50px;
   /* background-color: blue;*/
    margin-top: 1%;
}



 .second-section{
    background-color: #eeeeee;
     height: 420px; 
     width: 100%;
}

.write-up{
    font: 20px;
    font-family: 'Courier New', Courier, monospace;
    
}

.more-button{
    border: 1px solid black;
    color: white;
   background-color: #333;
    padding: 10px;
    border-radius: 10px;
    width: 150px;
    text-align: center;
    margin-left: 35%;
    margin-top: 10px;
    
}
.second-img1{
    
    margin-top: -8%;
    position:  relative;
    left: 50%;

}

.second-img2{
    margin-bottom: 10%;
    position: relative;
    left: 50%;
}

.second-img3{
    margin-top: -35.5%;
    position: relative;
    left: 75%;
}

.second-img4{
    margin-top: -15%;
    position: relative;
    left: 1%; 
}

.second-img5{
    margin-top: -18%;
    position: relative;
    left: 13%; 
}

.second-img6{
    margin-top: -17%;
    position: relative;
    left: 25%
}

.second-img7{
    margin-top: -15%;
    position: relative;
    left: 37%; 
}
/*popular events */
.head2{
     font-weight: bold;
    font-size: 25px;
    width: 100%;
    height: 50px;
    /* background-color: blue; */
    margin-top: 1%;
}

.mainBox2{
    display: flex;
    width: 100%;
    /* flex-shrink: 1; */
    /* background-color: tomato; */
    height: 400px;
    justify-content: space-around;
}

.box-txt2{
    /* background-color: brown; */
    width: 33%;
    height: 400px;
}

.box-img2 {
    width: 100%;
    height: 200px;
    /* background-color: green; */

}

.txt2 {
     width: 100%;
    height: 200px;
    /* background-color: black; */
}

/*hosting events section*/
.container{
    text-align: center;
    border: black solid 1px;
    /* background-color: gray; */
    list-style-type: none;
    width: 70%;
    height: 18vh;
    border-radius: 20px;
    margin-left:15%;
    padding-top: 5px;


}

.event-button{
    border: 1px solid black;
    color: white;
    /* background-color: black; */
    padding: 10px;
    border-radius: 10px;
    width: 150px;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
}

.event-button:hover{
    background-color: gray;
}

/*popular events section in india*/
.head3{
    font-weight: bold;
    font-size: 25px;
    width: 100%;
    height: 50px;
    /* background-color: blue; */
    margin-top: 1%;
}

.mainBox3{
    display: flex;
    width: 100%;
    /* flex-shrink: 1; */
    /* background-color: tomato; */
    height: 400px;
    justify-content: space-around;
}

.box-txt3{
    /* background-color: brown; */
    width: 33%;
    height: 400px;
}

.box-img3 {
    width: 100%;
    height: 200px;
    /* background-color: green; */

}

.txt3 {
     width: 100%;
    height: 200px;
   /* background-color: black; */
}

.container2{
    /* background-color: blue; */
    border: black solid 1px;
    background-color: #eeeeee;
    list-style-type: none;
    width: 80%;
    height: 18vh;
    border-radius: 15px;
    margin-left: 10%;

}

.app-img{
    margin-top: -3%;
    margin-left: 63%;
    
}

.playstore-img{
    margin-left: 80%;
    margin-top: -6.5%;
}

.divider{
    width: 100%;
    margin-top: 2%;
    border-bottom: 2px solid black;

}
.container3{
    border: black solid 1px;
   /* background-color: gray; */
    list-style-type: none;
    width: 60%;
    height: 18vh;
    border-radius: 15px;
    margin-top: 2%;
    margin-left: 20%;

}

.text5{
    text-align: center;
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
}
.text6{
    text-align: center;
    margin-top: 10px;
    font-size: 15px;
}

.email-bar {
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 50%;
    margin-left: 25%;
}

.footer {
    width: 100%;
    height: 302px;
    background-color: #eeeeee;
    align-items: center;
    padding: 60px 0;
    display: flex;
    justify-content: center;
}

.footer-content {
    width: 90%;
    max-width: 1400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.footer-column {
    font-size: 16px;
    margin-bottom: 12px;
    flex-direction: column;
    color: black;
}

.footer-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-list li{
    color: black;
    font-size: 14px;
    margin-bottom: 8px;
    display: block;
}

