* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

.navbar {
    background-color: white;
    color: white;
    padding: 10px 0;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content:space-between; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo{
    color: #333;
    text-decoration: none;
    padding: 10px 15px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
}

.button {
    background-color: #333;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
}

.search-bar {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.hero {
    position: relative;
    width: 100%;
    height: 400px;
    background-position: center;
    width: 100%;
    height: 350px;
}

.hero img {
    width: 100%;
    border-radius: 10px;
    height: 50%;
}

.title{
    position: absolute;
    top: 40%;
    left: 100%;
    color: white;
    font-size: 48px;
    text-align: center;
    margin-left: -70%;
    margin-top: -100px;
}

.search-bar button{
    margin-top: 20px;
    display: flex;
    text-align: right;
    gap: 10px;
    color: black;
    top: 40%;
    left: 68%;
    position: absolute;
    margin-top: -20px;
    justify-content: right;
    padding: 8px;
}
    

.search-bar input{
    position: absolute;
    top: 40%;
    left: 30%;
    padding: 10px;
    width: 500px;
    border-radius: 5px;
    border: none;
    margin-top: -20px;
    margin-left: -60px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Events {
    display: flex;
    gap: 10px;
    padding: 0;
    list-style: none;
}

.box{
    border: black solid 1px;
    padding: 5px;
    border-radius: 3px;
    list-style-type: none;
    display: flex;
    height: 50vh;
    
}

#heading{
    font-size: small;
}

.button{
    border: 1px solid black;
    padding: 10px;
    border-radius: 20px;
    width: 100px;
    /* display: flex;
    gap: 20px; */
    text-align: center;
}

.categories{
    margin-top: -20px;
}

.UP-EVT {
    margin-top: -60px;
}

.upcomiming  {
    margin-top: -15px;
    text-align: left;
}

.up-img {
    justify-content: center;
    margin-right: 100px;
}

.second h2{
    font-size: 24px;
    margin-left: 100%;
;
}
.event-2 {
    display: block;
    margin: 0 auto;
    width: 80%;
    text-align: center;
    margin-right: 5%;
    margin-top: -350px;
}

.event-3 {
    display: block;
    margin: 0 auto;
    width: 80%;
    text-align: right;
    margin-left: 30%;
    margin-top: -350px;
}


