* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

.navbar {
    background-color: green;
    color: white;
    padding: 10px 0;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content:space-between; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo{
    color: #333;
    text-decoration: none;
    padding: 10px 15px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
}

.button {
    background-color: #333;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
}

.search-bar {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.hero {
    position: relative;
    width: 100%;
    background-position: center;
    height: 300px;
    background-color: yellow;
}

.link {
    width: 100%;
    background-color: green;
    height: 30                                                                  px;
      padding-top: 1%;
    
    
    
}

.link a {
    text-decoration: none;
    font: 15px;
    font-family: 'Courier New', Courier, monospace;
  
}
.hero img {
    width: 100%;
    border-radius: 10px;
    height: 50%;
}

.title{
    position: absolute;
    top: 40%;
    left: 100%;
    color: white;
    font-size: 48px;
    text-align: center;
    margin-left: -70%;
    margin-top: -100px;
}

.search-bar button{
    margin-top: 20px;
    display: flex;
    text-align: right;
    gap: 10px;
    color: black;
    top: 40%;
    left: 68%;
    position: absolute;
    margin-top: -20px;
    justify-content: right;
    padding: 8px;
}
    

.search-bar input{
    position: absolute;
    top: 40%;
    left: 30%;
    padding: 10px;
    width: 500px;
    border-radius: 5px;
    border: none;
    margin-top: -20px;
    margin-left: -60px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Events {
    gap: 10px;
    /* padding: 0; */
    list-style: none;
}

.box{
    border: black solid 1px;
    border-radius: 3px;
    list-style-type: none;

    background-color: red;
     
    
}
.box-btn{
    height: 50px;
    width: 100%;
    display: flex;
}

#heading{
    font-size: small;
 height: 50px;
    width: 100%;
    display: flex;
}

.button{
    border: 1px solid black;
    padding: 10px;
    border-radius: 20px;
    width: 100px;
    /* display: flex;
    gap: 20px; */
    text-align: center;
}

.categories{
    margin-top: -20px;
}

.UP-EVT {
    margin-top: -60px;
}

.upcomiming  {
    margin-top: -15px;
    text-align: left;
}

.up-img {
    justify-content: center;
    margin-right: 100px;
}

.second h2{
    font-size: 24px;
    margin-left: 100%;
;
}
.box1{
    width: 30%;
    /* text-align: left; */
    margin-top: 10%;
    height: 200px;
    

}
.box2{
   width: 30%;
    /* text-align: center; */
    margin-top: 10%;

}

.box3{
    width: 30%;
    /* text-align: right;  */
    margin-top: 10%;
}


.mainBox{
    display: flex;
    width: 100%;
    /* flex-shrink: 1; */
    background-color: tomato;
    height: 450px;
    justify-content: space-around;
    

}

.box-txt{
    background-color: brown;
    width: 33%;
    height: 400px;
    

}

.box-img {
    width: 100%;
    height: 200px;
    background-color: green;

}

.txt {
     width: 100%;
    height: 200px;
    background-color: black;
}
.head{
    width: 100%;
    height: 50px;
    background-color: blue;
    margin-top: 1%;
}
/* *{border :2px solid black} */

.head p {
    font: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: bolder;
    padding: 25px;
}

 .second-section{
    background-color:green;
     height: 450px; 
     width: 100%;
}

.write-up{
    font: 20px;
    font-family: 'Courier New', Courier, monospace;
}
.second-img1{
    
    margin-top: 1%;
    position:  relative;
    left: 50%;

}

.head2{
    width: 100%;
    height: 50px;
    background-color: blue;
    margin-top: 1%;
}

.mainBox2{
    display: flex;
    width: 100%;
    /* flex-shrink: 1; */
    background-color: tomato;
    height: 450px;
    justify-content: space-around;
}

.box-txt2{
    background-color: brown;
    width: 33%;
    height: 400px;
}

.box-img2 {
    width: 100%;
    height: 200px;
    background-color: green;

}

.txt2 {
     width: 100%;
    height: 200px;
    background-color: black;
}






