* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

.navbar {
    background-color: white;
    color: white;
    padding: 10px 0;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content:space-between; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo{
    color: #333;
    text-decoration: none;
    padding: 10px 15px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
}

.button {
    background-color: #333;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
}

.search-bar {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.Events {
    display: inline-block;
    gap: 20px;
    margin: 20px;
    padding: 2px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.hero {
    position: relative;
    width: 100%;
    height: 400px;
    background-position: center;
    width: 100%;
    height: 350px;
}

.hero img {
    width: 100%;
    border-radius: 10px;
    height: 50%;
}

.title{
    position: absolute;
    top: 40%;
    left: 100%;
    color: white;
    font-size: 48px;
    text-align: center;
    margin-left: -70%;
    margin-top: -100px;
}

.search-bar button{
    margin-top: 20px;
    display: flex;
    text-align: right;
    gap: 10px;
    color: black;
    top: 40%;
    left: 68%;
    position: absolute;
    margin-top: -20px;
    justify-content: right;
    padding: 8px;
}
    

.search-bar input{
    position: absolute;
    top: 40%;
    left: 30%;
    padding: 10px;
    width: 500px;
    border-radius: 5px;
    border: none;
    margin-top: -20px;
    margin-left: -60px;
}